.cover,.cover a,a .cover,.cover{
    background-color: #252525 !important;
    color: #252525 !important;
    text-shadow: none !important;
    cursor: help
}

.cover a:hover,a:hover .cover {
    transition: color .13s linear;
    color: #66CCFF !important
}

.cover:hover {
    transition: color .13s linear;
    color: #FFFFFF !important
}

.cover:hover a {
    transition: color .13s linear;
    color: #66CCFF !important
}

code{
    color:#ec407a !important;
}